# Laravel
/bootstrap/compiled.php
app/storage/
public/node_modules/
# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helpers.php
# project files
kisdsitl4git.*
