<div class="container" ng-controller="classroomCreateCtrl as vm">

		<!-- Notifications -->
				<!-- ./ notifications -->

		<div class="page-header">
			<h3>
				创建班级				<div class="pull-right">
					<button class="btn btn-default btn-small btn-inverse close_popup" ng-click="goBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
				</div>
			</h3>
		</div>

		<!-- Content -->
		<form name="classroomCreateForm" method="POST" action="http://kidsit.cn/admin/api/system/classroom" accept-charset="UTF-8" ui-keyup="{'enter':'vm.createClassroom(classroomCreateForm)'}" novalidate>
			<div class="form-group" ng-class="{'has-error':classroomCreateForm.sysname.$invalid && (classroomCreateForm.sysname.$dirty || classroomCreateForm.sysname.$touched)}">
				<label for="sysname">系统标示名称:</label>			
				<input class="form-control" dbrans-validate-async="{canUse: canUseThisName}" autofocus="autofocus" name="sysname" type="text" id="sysname" ng-model="vm.newClassroom.sysname" ng-model-options="{ debounce: 1000 }" required ng-minlength="6" ng-maxlength="20">
				<div cg-busy="{promise:vm.verifysysnamepromise,minDuration:500,message:'唯一可用性检查...'}"></div>
				<!-- [[ classroomCreateForm.sysname.$pending ]] -->
				<div ng-messages="classroomCreateForm.sysname.$error">
					<span class="help-block has-error" ng-message="minlength">最小需要6个非" #!& "字符</span>
					<span class="help-block has-error" ng-message="maxlength">最大20个非" #!& "字符</span>
					<span class="help-block has-error" ng-message="canUse">该系统标示已经被占用，请修改后重试</span>
					<span ng-show="classroomCreateForm.sysname.$invalid && classroomCreateForm.sysname.$touched" class="help-block has-error">系统名唯一标识该班级，是必填项目，请输入英文和数字组合，大于6位，小于20位</span>				
				</div>
	
			</div>
			<div class="form-group" ng-class="{'has-error':classroomCreateForm.description.$invalid && (classroomCreateForm.description.$touched || classroomCreateForm.description.$dirty)}">
				<label for="description">班级描述:</label>			
				<input class="form-control" name="description" type="text" id="description" ng-model="vm.newClassroom.description" required ng-minlength="6" ng-maxlength="100" >
				<div ng-messages="classroomCreateForm.description.$error">
					<span class="help-block has-error" ng-message="minlength">最小需要6个非" #!& "字符</span>
					<span class="help-block has-error" ng-message="maxlength">最大100个非" #!& "字符</span>
					<span ng-show="classroomCreateForm.description.$invalid && classroomCreateForm.description.$touched" class="help-block has-error">班级描述字段，是必填项目，请输入相关介绍描述，小于100字</span>			
				</div>
						
			</div>
			<div class="form-group" ng-class="{'has-error':classroomCreateForm.teacher_id.$invalid && (classroomCreateForm.teacher_id.$touched || classroomCreateForm.teacher_id.$dirty)}">
				<label for="teacher_id">所属教师id: (输入教师loginname自动模糊匹配选择)</label>	
				<!-- o.id as o.sysloginname + '(' + o.name + ':' + o.id +')' for o in owners -->
				<!-- teacher.id as teacher.sysloginname for teacher in teachersdata | filter:$viewValue | limitTo:8 -->
				<!-- filter:$viewValue  -->
				<!-- TODO: typeahead custom template and js supporting chinese -->
				<input name="teacher_id" id="teacher_id" type="text" ng-model="vm.newClassroom.teacher_id" typeahead="teacher.id as teacher.sysloginname + '(' + teacher.name + ':' +teacher.id +')' for teacher in teachersdata | filter:$viewValue | limitTo:8" typeahead-editable=false class="form-control" required>
				<span ng-show="classroomCreateForm.teacher_id.$invalid && classroomCreateForm.teacher_id.$touched" class="help-block has-error">所属教师，是必填项目，请模糊查询并选择老师</span>
			</div>
			<div class="form-group" ng-class="{'has-error':classroomCreateForm.profileURL.$invalid && (classroomCreateForm.profileURL.$dirty || classroomCreateForm.profileURL.$touched)}">
				<label for="profileURL">班级主页</label>			
				<input class="form-control" name="profileURL" type="url" id="profileURL" ng-model="vm.newClassroom.profileURL" required>
				<span ng-show="classroomCreateForm.profileURL.$error.required && classroomCreateForm.profileURL.$touched" class="help-block has-error">班级主页，是必填项目，请输入其URL(如：http://kidsit.cn/classroom/myclass)</span>
				<span ng-show="classroomCreateForm.profileURL.$error.url" class="help-block has-error">URL格式不正确(以下为正确样例：http://kidsit.cn/classroom/myclass)</span>
			</div>
			<input class="btn btn-primary" type="button" value="提交" ng-click="vm.createClassroom(classroomCreateForm)">	
		</form>
		<!-- ./ content -->

		<!-- Footer -->
		<footer class="clearfix">
		</footer>
		<!-- ./ Footer -->
</div>